<!DOCTYPE html>
<html>
<head>
	<title>笔记</title>
	<link rel="import" href="../common/common.html?__inline">
	<script type="text/javascript" src="/static/js/plugin/lodash.js"></script>
</head>
<body>
	<div id="app">
		<liu-header :tab-id="2" @to-login="toLogin"></liu-header>
		<div class="auto_box note_main_box">
			<div>
				<div>
					<span>姓名：</span>
					<input v-model.trim="currentNote.name" class="input0" type="text" name="name" placeholder="请输入姓名" maxlength="16">
				</div>
				<div>
					<span>密码：</span>
					<input v-model.trim="currentNote.password" class="input0" type="text" name="name" placeholder="请输入密码" maxlength="16">
				</div>
				<div>
					<span>权限：</span>
					<div class="p_ibm posr">
						<select class="select0" v-model="currentNote.permission">
							<option v-for="permit in permission">{{permit}}</option>
						</select>
						<span class="select_icon0"></span>
					</div>
				</div>
				<div>
					<span>姓别：</span>
					<div class="p_ibt">
						<div @click="onRadioBtn(0)" class="p_ibt iconfont icon-radio" :class="{'icon-radio_fill':currentNote.sex==0}"></div>
						<span class="p_ibt">男</span>
						<div @click="onRadioBtn(1)" class="p_ibt iconfont icon-radio" :class="{'icon-radio_fill':currentNote.sex==1}"></div>
						<span class="p_ibt">女</span>
						<div @click="onRadioBtn(2)" class="p_ibt iconfont icon-radio" :class="{'icon-radio_fill':currentNote.sex==2}"></div>
						<span class="p_ibt">未知</span>
					</div>
				</div>
				<div>
					<span>年龄：</span>
					<input v-model.trim="currentNote.age" class="input0" type="text" name="name" placeholder="请输入年龄" maxlength="3">
				</div>
				<div>
					<span>手机：</span>
					<input v-model.trim="currentNote.phone" class="input0" type="text" name="name" placeholder="请输入手机号" maxlength="11">
				</div>
				<div>
					<span>邮箱：</span>
					<input v-model.trim="currentNote.email" class="input0" type="text" name="name" placeholder="请输入邮箱" maxlength="40">
				</div>
				<div>
					<span>住址：</span>
					<input v-model.trim="currentNote.address" class="input0" type="text" name="name" placeholder="请输入住址" maxlength="50">
				</div>
				<div>
					<a @click="onResetBtn" class="button0" href="javascript:;">重 置</a>
					<a @click="onCommitBtn" :class="{'button_disable':isCommit}" class="button0" href="javascript:;">提 交</a>
					<a @click="onUpdateBtn" :class="{'button_disable':!isUpdate}" class="button0" href="javascript:;">更 新</a>
				</div>
			</div>
			<div>
				<div class="liu_table">
					<div class="th">
						<div class="p_ibt td wido15 Center">编号</div>
						<div class="p_ibt td wido15">姓名</div>
						<div class="p_ibt td wido5">权限</div>
						<div class="p_ibt td wido5">性别</div>
						<div class="p_ibt td wido5">年龄</div>
						<div class="p_ibt td wido10">手机</div>
						<div class="p_ibt td wido15">邮箱</div>
						<div class="p_ibt td wido20">住址</div>
						<div class="p_ibt td wido10 Center">操作</div>
					</div>
					<div v-for="note in noteList" class="tr">
						<div class="p_ibt td wido15 Center">{{note.code}}</div>
						<div class="p_ibt td wido15">{{note.name}}</div>
						<div class="p_ibt td wido5">{{note.permission}}</div>
						<div class="p_ibt td wido5">{{sexMap[note.sex]}}</div>
						<div class="p_ibt td wido5">{{note.age}}</div>
						<div class="p_ibt td wido10">{{note.phone}}</div>
						<div class="p_ibt td wido15">{{note.email}}</div>
						<div class="p_ibt td wido20">{{note.address}}</div>
						<div class="p_ibt td wido10 Center">
							<a @click="onEditBtn(note)" class="Mrt10" href="javascript:;">编辑</a>
							<a @click="onDeleteBtn(note)" href="javascript:;">删除</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<liu-footer></liu-footer>
	</div>
<script>
	require("/webApp/static/js/note/index");
</script>
</body>
</html>