<div class="liu_user_header">
    <div class="auto_box">
        <div class="p_ibt head_box">
            <img class="img" :src="user.user_head_img">
            <!-- <a @click="uploadHeadbtn" class="set_head" href="javascript:;">更换头像</a> -->
        </div>
        <div class="p_ibt info_box">
            <div class="name">{{user.user_nickname}}</div>
            <div class="glory">
                <span>性别：</span>
                <span>{{user.user_sex}}</span>
                <span class="Mlf5">年龄：</span>
                <span>{{user.user_age}}</span>
                <span class="Mlf5">地址：</span>
                <span>{{user.user_address}}</span>
            </div>
            <div class="signature">{{user.user_signature}}</div>
        </div>
    </div>
</div>