<div v-show="showLogin !== 0" class="liu_float_panel" style="display:none;">
	<div v-show="showLogin == 1" class="p_ibm liu_login">
		<div class="title_box">
			<span class="title">登录</span>
			<a @click="closeLogin" class="iconfont icon-close" href="javascript:;"></a>
		</div>
		<div class="content_box">
			<div class="value_box">
				<input @keyup.enter="onLogin" v-model.trim="userName" class="input0" type="text" name="name" placeholder="用户名" maxlength="16">
			</div>
			<div class="value_box">
				<input @keyup.enter="onLogin" v-model.trim="userPwd" class="input0" type="password" name="name" placeholder="入密码" maxlength="16">
			</div>
			<div class="option_box">
				<div @click="onSeven" class="p_ibt">
					<div class="p_ibt iconfont icon-checkbox" :class="{'icon-checkbox_fill':user_seven}"></div>
					<span class="p_ibt hover_default">七天自动登录</span>
				</div>
				<a class="right" href="javascript:;">忘记密码</a>
			</div>
			<div class="login_box">
				<a @click="onLogin" :class="{'button_disable':isLogin}" class="button0" href="javascript:;">{{isLogin ? '登录中' : '登 录'}}</a>
			</div>
			<div class="Tright to_login">
				<span>没有账号，</span>
				<a class="co_09f" @click="toLogin(2)" href="javascript:;">去注册？</a>
			</div>
		</div>
	</div>
	<div v-show="showLogin == 2" class="p_ibm liu_login">
		<div class="title_box">
			<span class="title">注册</span>
			<a @click="closeLogin" class="iconfont icon-close" href="javascript:;"></a>
		</div>
		<div class="content_box">
			<div class="value_box">
				<input @keyup.enter="onSignIn" v-model.trim="signInName" class="input0" type="text" name="name" placeholder="用户名" maxlength="16">
			</div>
			<div class="value_box">
				<input @keyup.enter="onSignIn" v-model.trim="signInPwd" class="input0" type="password" name="password" placeholder="密码" maxlength="16">
			</div>
			<div class="option_box">
				<input @keyup.enter="onSignIn" v-model.trim="captcha" class="input0" type="text" name="captcha" placeholder="验证码" maxlength="8">
				<img @click="getCaptcha" class="captcha" :src="ccapImg">
			</div>
			<div class="login_box">
				<a @click="onSignIn" :class="{'button_disable':isSignIn}" class="button0" href="javascript:;">{{isSignIn ? '注册中' : '注 册'}}</a>
			</div>
			<div class="Tright to_login">
				<span>已有账号，</span>
				<a class="co_09f" @click="toLogin(1)" href="javascript:;">去登录？</a>
			</div>
		</div>
	</div>
</div>