.liu_header{min-width:1200px;}
.liu_header .content_box{height:40px;min-width:1200px;background-color: #f3f3f3; padding: 10px 0; box-shadow: 0px 0px 6px 0px rgba(3,3,3,0.3);}
.liu_header .content_box .logo{height:40px;width:143px;background:url(/static/images/logo/liushiyizu.png);background-size:auto 40px;margin-left:20px;}
.liu_header .content_box .nav_box{height:40px;margin-left: 80px;}
.liu_header .content_box .nav_box .nav{line-height:40px;color:#333;font-size:16px;padding:0px 5px;position: relative;margin: 0px 10px;}
.liu_header .content_box .nav_box .nav:hover:after,.liu_header .content_box .nav_box .nav.on:after{content:"";position:absolute;left:0;bottom:-10px;height:3px;background-color:#09f;width:100%;}
.liu_header .content_box .search_box{position:relative;margin-right: 20px;}
.liu_header .content_box .search_box .input0{border:none;height:40px;padding-right:30px;width:250px;padding-left:10px;}
.liu_header .content_box .search_box .icon-search{position:absolute;right:10px;top:13px;cursor:pointer;}
.liu_header .content_box .search_box .placeholder{position:absolute;left:10px;top:10px;pointer-events:none;}
.liu_header_box{margin-right:20px;position: relative;height:40px;width:40px;}
.liu_header_box .head{position:relative;z-index:3;width:40px;height:40px;}
.liu_header_box .head img{width:100%;height:100%;border-radius:50%;}
.liu_header_box .menu_box{position:absolute;z-index:2;right:0;width:40px;top:0px;height:40px;}
.liu_header_box .menu_box:hover{height:60px;padding-left:90px;}
.liu_header_box .menu_box:hover .menu_conent{visibility:visible;}
.liu_header_box .menu_box .menu_conent{position:absolute;z-index:2;background-color:#fff;width:200px;height:300px;border-radius:5px;right:0px;top:50px;box-shadow: 0px 0px 6px 0px rgba(9,9,9,0.3);visibility:hidden;}
.liu_header_box .menu_box .menu_conent .exit_btn{margin-right:20px;padding:10px 0;}
.liu_header .content_box .sign_box{font-size:16px;margin-right:20px;margin-top: 8px;}
.liu_header .content_box .sign_box .sign_btn{padding:0px 10px;}
.liu_header .content_box .sign_box .sign_btn:hover{color:#09f;}


